@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

*, *::after, *::before
{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html
{
	height: 100%;
}

body
{
	font-family: "Roboto", sans-serif;

	min-width: 320px;
	min-height: 100%;
}

a
{
    display: block;
    text-decoration: none;
}

.container
{
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
}

.main .container, .contacts .container, .sites .container
{
    padding: 0 50px;
}

.main .container
{
    padding: 50px;

	display: flex;
	align-items: center;
	flex-flow: row nowrap;
	justify-content: center;
}

.main img
{
	max-width: 300px;
	max-height: 300px;
	margin-right: 25px;

	border-radius: 100%;
}

.info__name
{
	font-size: 32px;

	margin-bottom: 5px;
}

.info__additional
{
	font-size: 21px;
}

.sites .container
{
    padding-bottom: 25px;
}

.site
{
    width: 100%;
    min-height: 100px;
	margin-bottom: 25px;
	padding: 25px;

	color: #FFFFFF;
	border-radius: 25px;
	background-color: red;
}

.contacts .container
{
	display: flex;
	flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.contacts .link
{
    border-radius: 25px;
	display: flex;
	align-items: center;
	justify-content: center;

	min-width: 100px;
	min-height: 100px;
	margin: 15px;

	color: #FFFFFF;
	background-color: red;
}

@media screen and (max-width: 768px)
{
	.main .container
	{
		flex-flow: column nowrap;
	}
	.main img
	{
		margin-right: 0;
		margin-bottom: 25px;
	}
	.info
	{
		text-align: center;
	}
	.info__name
	{
		font-size: 8vw;
	}

	.info__additional
	{
		font-size: 4vw;
	}
}

@media screen and (max-width: 425px)
{
	.info__name
	{
		font-size: 10vw;
	}

	.info__additional
	{
		font-size: 6vw;
	}
}

hr
{
	margin: 50px 0;
}
