@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

*, *::after, *::before
{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html
{
	height: 100%;
}

body
{
	font-family: "Roboto", sans-serif;

	min-width: 320px;
	min-height: 100%;
}

.container
{
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
}

.main .container
{
	display: flex;
	align-items: center;
	flex-flow: row nowrap;
	justify-content: center;

	padding: 50px;
}

.main img
{
	max-width: 300px;
	max-height: 300px;
	margin-right: 25px;

	border-radius: 100%;
}

.info__name
{
	font-size: 28px;
}

.info__year
{
	font-size: 21px;
}

.site
{
	margin: 25px;
	padding: 25px;

	color: #FFFFFF;
	border-radius: 25px;
	background-color: red;
}

@media screen and (max-width: 768px)
{
	.main .container
	{
		flex-flow: column nowrap;
	}
	.main img
	{
		margin-right: 0;
		margin-bottom: 25px;
	}
	.info
	{
		text-align: center;
	}
	.info__name
	{
		font-size: 8vw;
	}

	.info__year
	{
		font-size: 4vw;
	}
}

@media screen and (max-width: 425px)
{
	.info__name
	{
		font-size: 10vw;
	}

	.info__year
	{
		font-size: 7vw;
	}
}
