@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Condensed&display=swap");

*, *::after, *::before
{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html
{
	height: 100%;
}

body, a, input, button
{
	font-family: "Open Sans", sans-serif;
	text-align: center;
}

body
{
	min-width: 320px;
	min-height: 100%;
}

h1, h2, h3, h4, h5, h6
{
	font-family: "Roboto Condensed", sans-serif;
}

a
{
	display: block;

	text-decoration: none;
}

.container
{
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
	padding: 50px;
}

.about_fullname
{
	font-size: 76px;
}

.about_additional
{
	margin-top: 15px;
	font-size: 26px;
}
