@media screen and (max-width: 1440px)
{
	.projects-container
	{
		grid-template-columns: 1fr 1fr;
	}
}

@media screen and (max-width: 1024px)
{
	.container
	{
		padding: 50px 25px;
	}
}

@media screen and (max-width: 768px)
{
	.container
	{
		padding: 50px 20px;
	}
	.about_fullname
	{
		font-size: 9vw;
	}
	.about_additional
	{
		font-size: 4vw;

		margin-top: 5px;
	}
	.projects-container
	{
		grid-template-columns: 1fr;
	}
	.projects-container .project .project_info
	{
		height: unset;
		min-height: 100%;
	}
	.about-wrapper
	{
		align-items: center;
		flex-flow: column nowrap;
		justify-content: center;
	}
	.about-info
	{
		grid-gap: 35px;
		grid-template-areas: "text text"
		"image list"
		"button button";
	}
	.about-image
	{
		min-height: 250px;
	}
	.about-info-text
	{
		text-align: center;
	}
	h1, h2, h3
	{
		text-align: center;
	}
	.contacts-wrapper
	{
		align-items: center;
		flex-flow: column nowrap;
	}
	.contacts-list
	{
		align-self: center;
	}
	.toTopLink
	{
		margin-top: 50px;
	}
	.download-cv
	{
		justify-self: center;
	}
	h2
	{
		text-transform: uppercase;
	}
	h2::after
	{
		content: "";
	}
	.about-list
	{
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
	}
	.accord_title, .accord_info
	{
		justify-content: center;

		/* text-align: center; */
	}
	.accord_title .arrow
	{
		margin-left: 7px;
	}
}

@media screen and (max-width: 425px)
{
	.container
	{
		padding: 50px 15px;
	}
	.about_fullname
	{
		font-size: 16vw;
	}
	.about_additional
	{
		font-size: 7vw;
	}
	.icon-wrapper a
	{
		font-size: 6vw;
	}
	.about-image
	{
		display: none;
	}
	.about-info
	{
		display: flex;
		align-items: center;
		flex-flow: column nowrap;
		justify-content: center;
	}
	.download-cv
	{
		width: 100%;
	}
	.about-list
	{
		align-items: center;
	}
}

@media (hover: none) and (pointer: coarse)
{
	.projects-container .project .project_info
	{
		opacity: 0.9;
	}
}

@media screen and (prefers-reduced-motion: reduce)
{
	html
	{
		scroll-behavior: auto;
	}
}