@font-face
{
	font-family: "Oswald";
	font-weight: normal;
	font-style: normal;

	src: url("../font/Oswald.ttf");
}

*, *::before, *::after
{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html::-webkit-scrollbar
{
	display: none;
}

html
{
	height: 100%;

	scrollbar-width: none;
}

body
{
	font-family: "Oswald", sans-serif;

	min-height: 100%;

	background-color: black;
}

html, body, #wrapper
{
	height: 100%;
}

li
{
	width: 100%;
}

#wrapper
{
	display: flex;
	align-items: center;
	flex-flow: column nowrap;
}

.block
{
	display: flex;
	align-items: center;
	flex-flow: column nowrap;
	flex-grow: 1;
	justify-content: center;

	padding: 5px 25px 15px 25px;
}

.block p
{
	font-size: 4vw;

	text-align: center;
	text-decoration: none;

	color: white;
	text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.9);
}

.block span
{
	font-size: 1vw;

	display: block;

	margin-top: -0.5%;

	text-align: center;
	text-transform: uppercase;

	opacity: 0.7;
	color: white;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.9);
}

.block:nth-child(odd)
{
	background-color: #E71D36;
}


.block:nth-child(even)
{
	background-color: rgb(126, 19, 31);
}

.block:last-child
{
	padding: 15px 25px;
}

.block a
{
	font-size: 4vw;

	transition: 1s all;
	text-decoration: none;

	color: white;
	text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.9);
}

.block a:hover
{
	transform: scale(1.1);

	text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.9);
}

@media screen and (max-width: 768px)
{
	.block p, .block a
	{
		font-size: 7vw;
	}
	.block span
	{
		font-size: 2vw;
	}
}

@media screen and (max-width: 425px)
{
	.block p, .block a
	{
		font-size: 10vw;
	}
	.block span
	{
		font-size: 4vw;
	}
}
