@font-face
{
    font-family: "Oswald";
    font-weight: normal;
    font-style: normal;

    src: url("../font/Oswald.ttf");
}

*, *::before, *::after
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a
{
    text-decoration: none;
}

body
{
    font-family: "Oswald", sans-serif;
}

#wrapper
{
    display: flex;

    width: 100%;
    height: 100vh;
    min-height: 100%;

    flex-flow: column nowrap;
}

#wrapper > li
{
    font-size: 2vw;

    display: flex;

    padding: 0 10px;

    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);

    align-items: center;
    flex-flow: column nowrap;
    flex-grow: 1;
    justify-content: center;
}

#wrapper > li > span
{
    font-size: 1vw;

    margin-bottom: 10px;

    text-transform: uppercase;
}

#wrapper > li:nth-child(odd)
{
    background-color: #E71D36;
}

#wrapper > li:nth-child(even)
{
    background-color: #EB465A;
}

@media screen and (min-width: 768px)
{
    .block > ul > li
    {
        font-size: 3vmax;
    }
    .block > ul > li > span
    {
        font-size: 1vmax;
    }
}
